{% extends "layout.html" %} {% block title %} About {% endblock %} {% block main
%}
<div class="container">
  <div class="text">
    <h1 class="titulo2">About</h1>
    <p class="source">
      (Source:
      <a href="https://en.wikipedia.org/wiki/Moth"
        >Wikipedia, the free encyclopedia</a
      >)
    </p>
    <p class="abouttext">
      Moths are a paraphyletic group of insects that includes all members of the
      order Lepidoptera that are not butterflies, with moths making up the vast
      majority of the order. There are thought to be approximately 160,000
      species of moth, many of which have yet to be described. Most species of
      moth are nocturnal, but there are also crepuscular and diurnal species.
    </p>
    <p class="source">
      (Source:
      <a href="https://www.si.edu/spotlight/buginfo/moths"
        >The Smithsonian Institution</a
      >)
    </p>
    <p class="abouttext">
      <b>Numbers of species.</b> Moths are in the insect Order Lepidoptera, and
      share this Order with Butterflies. There are some 160,000 species of moths
      in the world, compared to 17,500 species of butterflies. In the United
      States, there are nearly 11,000 species of moths.
    </p>

    <p class="abouttext">
      <b>Distinctive characteristics.</b> Moths (and their close relatives, the
      butterflies) are the only group of insects that have scales covering their
      wings, although there are a few exceptions. They differ from other insects
      also by their ability to coil up their feeding tube (the proboscis). Moths
      can usually be distinguished from butterflies by their antennae, which are
      typically threadlike or feathery; in contrast, butterflies have
      club-tipped antennae.
    </p>

    <p class="abouttext">
      <b>General statements.</b> Although moths have for the most part
      relatively dull wing colors, there are many species with spectacular
      colors and patterns. The Giant Silkworm Moths form a vast array of large,
      impressive insects with colorful wings, sometimes with long tails on the
      hind wings. One of the moth species most commonly seen is the Tomato
      Hornworm Moth, although it is noticed in the caterpillar stage as it
      devours tomato foliage in the garden. Opposite to the habits of
      butterflies, moths usually fly during the night to gather nectar at
      flowers. However, there are many day-flying moths, and many of them are
      brightly colored. The insect that is often considered as the most
      beautiful insect in the world is a day-flying moth, The Sunset Moth, from
      Madagascar. Day-flying moths are often noticed feeding at flowers.
    </p>

    <p class="abouttext">
      <b>Immatures.</b> Caterpillars are the name given to the larvae of both
      moths and butterflies. They are usually very distinctive, and in some
      cases may be identified more easily than the adults. Caterpillars eat
      voraciously to transform plant material into the tissues that they will
      need for changing into moths.
    </p>

    <p class="abouttext">
      <b>Migration</b> in the Lepidoptera is not limited to butterflies such as
      the Monarch. There are many migratory moths, including the day flying
      Hummingbird Hawkmoth, which migrates from southern parts to northern parts
      of Europe as temperatures rise in early summer.
    </p>

    <p class="abouttext">
      <b>Evolution example.</b> The Peppered Moth of Europe is commonly cited as
      a classic example in evolution, and was studied by H. B. D. Kettlewell as
      an example of "industrial melanism. Moths with salt and pepper colored
      wings are not detected on bark that contains lichens of similar colors and
      patterns. Trees during the industrial revolution became so soot-covered
      that moths with genetic makeup for dark colors developed because they were
      not seen and eaten by birds. The reverse of this mechanism has resulted
      through time as tree bark returned to a lighter color.
    </p>
    <div class="bg"></div>
  </div>
</div>

{% endblock %}
