{% extends "layout.html" %} {% block title %} Moths From Brazil {% endblock %}
{% block main %}
<div class="container">
  <div class="text">
    <h1 class="titulo2">Moths From Brazil</h1>
    <p class="source">
      (Source:
      <a href="https://twitter.com/SchwMatheus/status/1375507396420722691"
        >@SchwMatheus </a
      >on Twitter)
    </p>
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <img src="/static/moth1.jpg" class="gallery__img" alt="Image 1" />
        <p class="name"><b>Mariposa-espelho (genus Rosthschildia)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="/static/moth2.jpg" class="gallery__img" alt="Image 2" />
        <p class="name"><b>Mariposa-olho-de-boi (genus Automeris)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="/static/moth3.jpg" class="gallery__img" alt="Image 3" />
        <p class="name"><b>Mariposa-vespa (subtribe Euchromiina)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="/static/moth4.jpg" class="gallery__img" alt="Image 4" />
        <p class="name"><b>Mariposa-cara-de-palhaço (genus Idalus)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img src="/static/moth5.jpg" class="gallery__img" alt="Image 5" />
        <p class="name"><b>Mariposa-imperador (genus Thysania)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--6">
        <img src="/static/moth6.jpg" class="gallery__img" alt="Image 6" />
        <p class="name"><b>Mariposa-leopardo (genus Hypercompe)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--7">
        <img src="/static/moth7.jpg" class="gallery__img" alt="Image 7" />
        <p class="name">
          <b>Mariposa-cara-de-elefante (genus Langsdorfia)</b>
        </p>
      </figure>
      <figure class="gallery__item gallery__item--8">
        <img src="/static/moth8.jpg" class="gallery__img" alt="Image 8" />
        <p class="name">
          <b>Mariposa-imperial-brasileira (genus Eacles)</b>
        </p>
      </figure>
      <figure class="gallery__item gallery__item--9">
        <img src="/static/moth9.jpg" class="gallery__img" alt="Image 9" />
        <p class="name">
          <b>Mariposa-rabo-de-andorinha (genus Copiopteryx)</b>
        </p>
      </figure>
      <figure class="gallery__item gallery__item--10">
        <img src="/static/moth10.jpg" class="gallery__img" alt="Image 10" />
        <p class="name"><b>Mariposa-real (genus Citheronia)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--11">
        <img src="/static/moth11.jpg" class="gallery__img" alt="Image 11" />
        <p class="name"><b>Mariposa-esfinge (genus Cocytius)</b></p>
      </figure>
      <figure class="gallery__item gallery__item--12">
        <img src="/static/moth12.jpg" class="gallery__img" alt="Image 12" />
        <p class="name"><b>Mariposa-bruxa (genus Ascalapha)</b></p>
      </figure>
    </div>
    <div class="bg"></div>
  </div>
</div>

{% endblock %}
