{% extends "layout.html" %} {% block title %} The World of Moths {% endblock %}
{% block main %}
<h1 class="titulo">The World of Moths</h1>
<div class="classification">
  <!--card1-->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/card1.jpg" class="card" alt="Card" />
        <h2>Kingdom</h2>
      </div>
      <div class="flip-card-back">
        <h3>Animalia</h3>
      </div>
    </div>
  </div>
  <!--card2-->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/card1.jpg" class="card" alt="Card" />
        <h2>Phylum</h2>
      </div>
      <div class="flip-card-back">
        <h3>Arthropoda</h3>
      </div>
    </div>
  </div>
  <!--card3-->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/card1.jpg" class="card" alt="Card" />
        <h2>Class</h2>
      </div>
      <div class="flip-card-back">
        <h3>Insecta</h3>
      </div>
    </div>
  </div>
  <!--card4-->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/static/card1.jpg" class="card" alt="Card" />
        <h2>Order</h2>
      </div>
      <div class="flip-card-back">
        <h3>Lepidoptera</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
